<div>
    <h1>STUDENT LIST</h1>
</div>
<table *ngIf="studentList && studentList.length > 0" >
    <thead>
        <tr>
            <th>STT</th>
            <th>Id</th>
            <th>Name</th>
            <th>Email</th>
            <th>Address</th>
            <th>ScheduleId</th>
        </tr>
    </thead>
    <tbody>
       <tr *ngFor="let student of studentList">
            <td>{{studentList.indexOf(student) + 1}}</td>
            <td>{{student.id}}</td>
            <td>{{student.name}}</td>
            <td>{{student.email}}</td>
            <td>{{student.address}}</td>
            <td>{{student.scheduleId}}</td>
            <td><a [routerLink]='["../edit-student",student.id]'>Edit</a></td>
            
       </tr>
    </tbody>
</table>
<p *ngIf="!studentList || studentList.length <= 0">No Students Found</p>
<router-outlet></router-outlet>