<div>
    <h1>Students</h1>
</div>
<table *ngIf="students && students.length > 0" >
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Email</th>
            <th>Address</th>
            <th>ScheduleId</th>
        </tr>
    </thead>
    <tbody>
       <tr *ngFor="let student of students">
            <td>{{student.id}}</td>
            <td>{{student.name}}</td>
            <td>{{student.email}}</td>
            <td>{{student.address}}</td>
            <td>{{student.scheduleId}}</td>
       </tr>
    </tbody>
</table>
<p *ngIf="!students || students.length <= 0">No Students Found</p>
